<div>
  <p>
    <button class="btn " ng-click="moveSelect=!moveSelect"
            ng-class="{'btn-default': !moveSelect, 'btn-primary': moveSelect}">
      {{moveSelect?'实时选择':'最后选择'}}
    </button>
  </p>


</div>

<div class="jumbotron selectable-container clearfix"
     rect-multi-select="{'selector': '.photo'}"
     rect-move-select="{{moveSelect}}"
     rect-selector="photo.actionSelected">

  <div class="photo-wall photo-selectable-container">
    <div ng-repeat="photo in photos"
         ng-controller="PhotoCtrl"
         class="photo"
         ng-class="{'selectable': selectable, 'selected': photo.actionSelected}">
      <a href="">
        <img ng-src="{{baseUrl}}{{photo.name}}{{baseExt}}">
      </a>

      <div class="action action-select"
           ng-click="photo.actionSelected=!photo.actionSelected">
            <span class="icon-photo-select"
                  ng-class="{'icon-photo-selected': photo.actionSelected}"></span>
      </div>
    </div>

  </div>
</div>

<div class="row marketing">

</div>
