<div class="container">
  <p>
    ui-rect-select.js is an angularjs plugin for the mouse move rectangular selection dom element.
  </p>
  <p>
    angular鼠标框选插件
  </p>
  <p><span class="glyphicon glyphicon-heart"></span> from the <a href="//anypossiblew.github.com">anypossiblew</a></p>

  <div class="alert alert-warning notice" role="alert">
    <span ng-show="!selectable">Images from <a href="http://www.photoshows.cn">www.photoshows.cn</a></span>
    <span ng-show="selectable"><span>{{selectedPhotos.length}}</span> pictures selected</span>
  </div>
  <div class="header">

  </div>

  <div>
    <p>
      <button class="btn " ng-click="moveSelect=!moveSelect"
              ng-class="{'btn-default': !moveSelect, 'btn-primary': moveSelect}">
        {{moveSelect?'实时选择 move select':'非实时选择 final select'}}
      </button>

      <button class="btn btn-default" >
        按shift键叠加选择 <b><i>shift</i></b> add selection
      </button>
    </p>
  </div>
</div>

<div class="jumbotron selectable-container"
     rect-multi-select="{'selector': '.photo'}"
     rect-move-select="{{moveSelect}}"
     rect-selector="photo.actionSelected">

  <div class="container">

    <div class="photo-wall photo-selectable-container">
      <div ng-repeat="photo in photos"
           ng-controller="PhotoCtrl"
           class="photo"
           ng-class="{'selectable': selectable, 'selected': photo.actionSelected}">
        <a href="">
          <img ng-src="{{baseUrl}}{{photo.name}}{{baseExt}}">
        </a>

        <div class="action action-select"
             ng-click="photo.actionSelected=!photo.actionSelected">
            <span class="icon-photo-select"
                  ng-class="{'icon-photo-selected': photo.actionSelected}"></span>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <h3>Usage</h3>
  <p>
    We use bower for dependency management. Add
  </p>
  <pre>dependencies: {
    "ui-rect-select": "latest"
}</pre>

  <p>To your bower.json file. Then run</p>
  <pre>bower install</pre>
  <p>
    This will copy the ui-rect-select files into your components folder, along with its dependencies.
  </p>
  <p>Add the css:</p>
  <pre>&lt;link rel="stylesheet" href="bower_components/ui-rect-select/dist/rect-multi-select.css"&gt;</pre>
  <p>Load the script files in your application:</p>
  <pre>&lt;script src="bower_components/jquery/dist/jquery.js"&gt;&lt;/script&gt;
&lt;script src="bower_components/angular/angular.js"&gt;&lt;/script&gt;
&lt;script src="bower_components/ui-rect-select/dist/rect-multi-select.js"&gt;&lt;/script&gt;</pre>

  <p>
    Add the uiSelect module as a dependency to your application module:
  </p>
  <pre>var myAppModule = angular.module('MyApp', ['uiSelect'])</pre>

  <p>Add the css <b >selectable-container</b> and apply the directive <b>rect-multi-select</b> to your form
    elements:</p>
  <pre>&lt;div class="<b><i>selectable-container</i></b>"
    <b><i>rect-multi-select</i></b>="{'selector': '.photo'}"
    rect-move-select="{{'{{moveSelect'+'}'+'}'}}"
    rect-selector="photo.actionSelected"&gt;
&lt;/div&gt;</pre>

  <h3>Options</h3>
  <h4>selector</h4>
  <p>To be selected element's css selector</p>
  <pre>rect-multi-select="<b><i>{'selector': '.photo'}</i></b>"</pre>
  <pre>&lt;div ng-repeat="photo in photos"
    ng-controller="PhotoCtrl"
    <b><i>class="photo"&gt;</i></b>
 &lt;img ng-src="{{'{{baseUrl'+'}'+'}{{photo.name'+'}'+'}'}}&gt;
&lt;/div&gt;</pre>

  <h4>rect-move-select</h4>
  <p>Real time select elements on mouse move event, <b>moveSelect</b> is an boolean variable of <b>$scope</b>.</p>
  <pre>&lt;div class="selectable-container"
    rect-multi-select="{'selector': '.photo'}"
    <b><i>rect-move-select="{{'{{moveSelect'+'}'+'}'}}"</i></b>
    rect-selector="photo.actionSelected"&gt;
&lt;/div&gt;</pre>

  <h4>rect-selector</h4>
  <p>The variable name of indicator for selected element in their scope</p>
  <pre>&lt;div class="selectable-container"
    rect-multi-select="{'selector': '.photo'}"
    rect-move-select="{{'{{moveSelect'+'}'+'}'}}"
    <b><i>rect-selector="photo.actionSelected"</i></b>&gt;
&lt;/div&gt;</pre>

  <h3>Example</h3>
  <pre>&lt;div class="selectable-container"
    rect-multi-select="{'selector': '.photo'}"
    rect-move-select="{{'{{moveSelect'+'}'+'}'}}"
    rect-selector="photo.actionSelected"&gt;
    &lt;div class="photo-wall photo-selectable-container"&gt;
      &lt;div ng-repeat="photo in photos"
          ng-controller="PhotoCtrl"
          class="photo"
          ng-class="{'selected': photo.actionSelected}"&gt;
        &lt;img ng-src="{{'{{baseUrl'+'}'+'}{{photo.name'+'}'+'}'}}&gt;
      &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the <a href="//anypossiblew.github.com">anypossiblew</a></p>
  </div>
</div>
